/*CustoPicker settings*/
/* line 3, /app/app/assets/stylesheets/themeCustomPicker.css.scss */
#booksDiv {
  display: block;
  margin-left: auto;
  margin-bottom: 0em;
  margin-right: auto;
  margin-top: .5em;
}

/* line 11, /app/app/assets/stylesheets/themeCustomPicker.css.scss */
.customPicker table {
  border: 1px solid #bdb2bf;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: url("/images/normal-bg.gif");
  font-family: "trebuchet ms",verdana,tahoma,sans-serif;
}

/* line 20, /app/app/assets/stylesheets/themeCustomPicker.css.scss */
.customPickerChapterDiv {
  border: 1px solid #bdb2bf;
  font-size: 11px;
  border-spacing: 20px 2px;
  color: #000;
  cursor: default;
  background: url("/images/normal-bg.gif");
  font-family: "trebuchet ms",verdana,tahoma,sans-serif;
}

/* line 30, /app/app/assets/stylesheets/themeCustomPicker.css.scss */
.customPicker tbody td.hilite {
  /* Hovered cells <TD> */
  background: url("/images/hover-bg.gif");
}
/* line 1, /app/app/assets/stylesheets/verse.css.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 6, /app/app/assets/stylesheets/verse.css.scss */
body {
  /*        padding-top: 25px; */
  margin-left: 25px;
  margin-right: 25px;
  background-image: url(image21.jpg);
}

/* line 12, /app/app/assets/stylesheets/verse.css.scss */
#ctDiv {
  position: absolute;
  visibility: hidden;
  z-index: 1000;
}

/* line 17, /app/app/assets/stylesheets/verse.css.scss */
#header {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

/* line 22, /app/app/assets/stylesheets/verse.css.scss */
.help {
  float: right;
}

/* line 25, /app/app/assets/stylesheets/verse.css.scss */
.container-full {
  margin: 0 auto;
  width: 100%;
}

/* line 29, /app/app/assets/stylesheets/verse.css.scss */
#wrapper {
  min-height: 100%;
  position: relative;
  bottom-padding: 0px;
}

/* line 34, /app/app/assets/stylesheets/verse.css.scss */
#content {
  padding-bottom: 50px;
  /* Height of the footer element */
}

/* line 37, /app/app/assets/stylesheets/verse.css.scss */
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;*/
  text-align: center;
}

/* flash messages */
/* line 46, /app/app/assets/stylesheets/verse.css.scss */
.alert-error {
  border-color: #eed3d7;
  color: #ff0000;
  text-align: left;
}

/* line 51, /app/app/assets/stylesheets/verse.css.scss */
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

/* line 57, /app/app/assets/stylesheets/verse.css.scss */
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* line 63, /app/app/assets/stylesheets/verse.css.scss */
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* line 70, /app/app/assets/stylesheets/verse.css.scss */
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

/* line 74, /app/app/assets/stylesheets/verse.css.scss */
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

/* line 80, /app/app/assets/stylesheets/verse.css.scss */
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

/* line 90, /app/app/assets/stylesheets/verse.css.scss */
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 97, /app/app/assets/stylesheets/verse.css.scss */
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

/* line 104, /app/app/assets/stylesheets/verse.css.scss */
.button {
  background-color: #c4e8fe;
  border: 4;
  font-family: courier new;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

/* line 114, /app/app/assets/stylesheets/verse.css.scss */
.button-bst {
  color: #000000;
  padding: 10px 20px;
  background-color: #90C3D4;
  border: 0;
  text-decoration: none;
}

/* line 122, /app/app/assets/stylesheets/verse.css.scss */
.button-bst:hover {
  text-decoration: none;
  color: #ffffff;
  background: #90C3D4;
}

/* line 127, /app/app/assets/stylesheets/verse.css.scss */
.advancedSearchHeader {
  font-family: arial;
  font-weight: bold;
  font-size: 12px;
}

/* line 133, /app/app/assets/stylesheets/verse.css.scss */
#advancedSearchFormDiv {
  float: right;
  margin-left: 0em;
  margin-bottom: 0em;
  margin-top: 0em;
  margin-right: 4px;
  width: 45%;
  padding-right: 40px;
}

/* line 143, /app/app/assets/stylesheets/verse.css.scss */
#searchFormDiv {
  float: right;
  margin-left: 0em;
  margin-bottom: 0em;
  margin-top: 0em;
  margin-right: 0px;
  padding-right: 40px;
  width: 45%;
}

/* line 153, /app/app/assets/stylesheets/verse.css.scss */
#findFormDiv {
  float: left;
  margin-left: 4px;
  margin-bottom: 0em;
  margin-top: 0em;
  margin-right: 0em;
  width: 45%;
}

/* line 162, /app/app/assets/stylesheets/verse.css.scss */
#grammarTable {
  background: #00028f;
  color: #ffffff;
  font-family: courier new;
  font-weight: 600;
  clear: left;
  border: 0;
  width: 100%;
}

/* line 172, /app/app/assets/stylesheets/verse.css.scss */
#headerDiv {
  width: 100%;
}

/* line 176, /app/app/assets/stylesheets/verse.css.scss */
#navigationTable {
  border: 0;
  padding: 0;
  width: 70%;
}

/* line 182, /app/app/assets/stylesheets/verse.css.scss */
#searchResultsTable a {
  font-family: times new roman;
  font-size: 16px;
}

/* line 187, /app/app/assets/stylesheets/verse.css.scss */
#title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: arial;
  font-size: 20px;
}

/* line 195, /app/app/assets/stylesheets/verse.css.scss */
#translationDiv {
  clear: left;
  min-height: 2.5em;
}

/* line 200, /app/app/assets/stylesheets/verse.css.scss */
.bstAdvancedFieldset {
  width: 100%;
  display: block;
  border-radius: 6px 6px 6px 6px;
  border-color: #d6e2f5;
}

/* line 207, /app/app/assets/stylesheets/verse.css.scss */
.bstFieldset {
  width: 100%;
  display: block;
  border-radius: 6px 6px 6px 6px;
  border-color: #d6e2f5;
}

/* line 214, /app/app/assets/stylesheets/verse.css.scss */
.clearer {
  clear: both;
  font-size: 1px;
}

/* line 219, /app/app/assets/stylesheets/verse.css.scss */
.error {
  color: #ff0000;
  font-family: courier new;
  font-weight: 600;
}

/* line 225, /app/app/assets/stylesheets/verse.css.scss */
.info {
  color: #0000ff;
  font-family: arial;
}

/* line 230, /app/app/assets/stylesheets/verse.css.scss */
.invisible {
  display: none;
  visibility: hidden;
}

/* line 235, /app/app/assets/stylesheets/verse.css.scss */
.visible {
  display: block;
  visibility: visible;
}

/* line 240, /app/app/assets/stylesheets/verse.css.scss */
.nomCase {
  color: #00ff00;
}

/* line 244, /app/app/assets/stylesheets/verse.css.scss */
.verb {
  color: #ff0000;
}

/* line 248, /app/app/assets/stylesheets/verse.css.scss */
.hiliteSearchWord {
  background: #ffffff;
  color: #00028f;
}

/* line 253, /app/app/assets/stylesheets/verse.css.scss */
form {
  display: inline;
}

/* line 257, /app/app/assets/stylesheets/verse.css.scss */
fieldset legend {
  color: #316ac5;
}

/* line 261, /app/app/assets/stylesheets/verse.css.scss */
tr {
  margin-top: 0;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 268, /app/app/assets/stylesheets/verse.css.scss */
#helpText {
  font-family: arial;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
