<div id=helpText>
<div style="float: right"><a href="javascript:history.back()" onclick="history.back();return false">back</a></div>
<h3 style="text-align: center"><b>HELP</b></h1>
Bible Study Tools displays the greek grammar for a verse using the Nestles Text. The english translation of the verse is taken from the King James Bible.
<br>
<br>
<b>Find Verse:</b> 
<blockquote>Enter a verse in the form of MAT 12:8 or MAT 12.8 - OR - Pick a verse from the custom control by using the left mouse button to click a Book then Chapter and then Verse.
</blockquote>
<b>Search Verse:</b>
<blockquote>Enter the strongs number(s) of the words you want to search for - OR - use the left mouse button to click the word(s) in the blue grammar table (see image below).
Select one of the search options:
<br>
<ul>
<table>
<tr><td><li><b>All</b></td><td>- Verses containing ALL of the search word(s) will be searched.</li></td></tr>
<tr><td><li><b>Any</b></td><td>- Verses containing ANY of the search word(s) will be searched.</li></td></tr>
<tr><td><li><b>Phrase</b></td><td>- Only verses containing the exact sequence of search words will be searched.</li></td></tr>
</table>
</ul>
</blockquote>
<b>Keyboard shortcuts:</b>
<blockquote>You can use the following keys for navigation:
<br>
<ul>
<table>
<tr><td><li><b>Down Arrow</b></td><td>- Moves one verse down.</td></li></tr>
<tr><td><li><b>Up Arrow</b></td><td>- Moves one verse up.</td></li></tr>
<tr><td><li><b>Page Down</b></td><td>- Moves one chapter down.</td></li></tr>
<tr><td><li><b>Page Up</b></td><td>- Moves one chapter up.</td></li></tr>
<tr><td><li><b>End</b></td><td>- Moves one book down.</td></li></tr>
<tr><td><li><b>Home</b></td><td>- Moves one book up.</td></li></tr>
<tr><td><li><b>F4</b></td><td>- Hides/Shows the search results.</td></li></tr>
<tr><td><li><b>Shift-F4</b></td><td>- Clears out the search results.</td></li></tr>
<tr><td><li><b>F5</b></td><td>- Displays the next verse in the search results.</td></li></tr>
<tr><td><li><b>Shift-F5</b></td><td>- Displays the previous verse in the search results.</td></li></tr>
</table>
</ul>
</div>


<img border="0" src="/images/bstHelp1.gif" >



