html,body {
        margin:0;
        padding:0;
        height:100%;
}
.container-full {
        margin: 0 auto;
        width: 100%;
}
#wrapper {
        min-height:100%;
        position:relative;
}
#content {
        padding-bottom:50px;   /* Height of the footer element */
}
#footer {
        width:100%;
        height:50px;
        position:absolute;
        bottom:0;
        left:0;
        text-align: center
}
/* flash messages */
.alert-error {
        border-color: #eed3d7;
        color: #ff0000;
        text-align: left;
}
.alert-alert {
        background-color: #f2dede;
        border-color: #eed3d7;
        color: #b94a48;
        text-align: left;
}
.alert-success {
    background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #468847;
        text-align: left;
}
.alert-notice {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #468847;
        text-align: left;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.button {
	background-color:#c4e8fe;
	border: 4;
	font-family: courier new;
	font-size: 14px;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

.button-bst {
  color: #000000;
  padding: 10px 20px;
  background-color: #90C3D4;
  border: 0;
  text-decoration: none;
}

.button-bst:hover {
  text-decoration: none;
  color: #ffffff;
  background: #90C3D4;
}
.advancedSearchHeader {
	font-family: arial;	
	font-weight: bold;
	font-size: 12px;
}

#advancedSearchFormDiv {
	  float: right;
	  margin-left: 0em;
	  margin-bottom: 0em;
	  margin-top: 0em;
	  margin-right: 4px;
	  width: 45%;
	  padding-right: 40px;
}

#searchFormDiv {
          float: right;
          margin-left: 0em;
          margin-bottom: 0em;
          margin-top: 0em;
          margin-right: 0px;
          padding-right: 40px; 
          width: 45%;
}
 
#findFormDiv {
	  float: left;
	  margin-left: 4px;
	  margin-bottom: 0em;
	  margin-top: 0em;
	  margin-right: 0em;
	  width: 45%;
}

#grammarTable { 
	background: #00028f; 
    color: #ffffff; 
    font-family: courier new;
    font-weight: 600;
	clear: left;
	border: 0;
	width: 100%; 
}
  
#headerDiv {
	  width: 100%;
}

#navigationTable {
	   border: 0;
	   padding: 0;
	   width: 70%;
}
  
#searchResultsTable a {
	font-family: times new roman;
	font-size: 16px;	
}

#title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	font-family: arial;
	font-size: 20px;
}

#translationDiv {
	clear: left;
	min-height: 2.5em;
}

.bstAdvancedFieldset {
	width: 100%;
	display: block;
        border-radius: 6px 6px 6px 6px;
	border-color: #d6e2f5;
}
	  
.bstFieldset {
	width: 100%;
	display: block;
	border-radius: 6px 6px 6px 6px;
	border-color: #d6e2f5;
}

.clearer {
	clear: both;
	font-size: 1px;
}

.error {
    color: #ff0000;
    font-family: courier new;
    font-weight: 600;
}

.info {
    color: #0000ff;
    font-family: arial;
}

.invisible {
	display: none;
	visibility: hidden;
}

.visible {
	display: block;
	visibility: visible;
}

.nomCase {
	color: #00ff00;
}

.verb {
	color: #ff0000;
}

.hiliteSearchWord {
	background: #ffffff;
	color: #00028f;
}
  
form {
	  display: inline;
}

fieldset legend {
	  color: #316ac5;
}
  
tr {
	margin-top: 0;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
}

body {
 
	  margin-left: 4px;
	  margin-right: 2px;	  
}

#helpText {
	font-family: arial;
}
